<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content overflow-hidden">
            <div class="modal-body p-0">
                <div class="row g-0">
                    <!-- Profile Image-->
                    <div class="col-12 col-lg-6">
                        <picture>
                            <img class="portfolio-modal-img img-fluid" src="" alt="{{ config.defaultImgAlt }}">
                        </picture>
                    </div>
                    <!-- Profile Description-->
                        <div class="col-12 col-lg-6 text-dark align-items-center d-flex">
                            <div class="p-6 py-lg-4">
                                <div class="intro">
                                    <h3 class="display-5 mb-3"></h3>
                                    <p class="text-muted"></p>
                                </div>

                                <div class="languages my-4">
                                    <p class="text-uppercase small fw-bolder mb-1">Languages</p>
                                    <p class="text-muted small"></p>
                                </div>

                                <div class="frameworks my-4">
                                    <p class="text-uppercase small fw-bolder mb-1">Frameworks</p>
                                    <p class="text-muted small"></p>
                                </div>

                                <div class="client my-4">
                                    <p class="text-uppercase small fw-bolder mb-1">Client</p>
                                    <p class="text-muted small"></p>
                                </div>

                                <div class="category">
                                    <p class="text-uppercase small fw-bolder mb-1">Category</p>
                                    <p class="text-muted small"></p>
                                </div>
                                <a href="#" class="m-2 btn btn-primary btn-demo">Live Demo</a>
                                <a href="#" class="m-2 btn btn-primary btn-repository">GitHub Repository</a>
                            </div>
                        </div>
                    <!-- / Profile Description-->
                </div>
            </div>
            <button type="button" class=" btn btn-primary" style="border-radius: 0 !important" data-bs-toggle="modal" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>