<div class="row g-5 about py-5">
    <div class="col-12 col-xl-6" data-aos="reveal-left">
        <h3 class="display-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error nobis cumque unde, id facere molestias.</h3>
    </div>
    <div class="col-12 col-xl-6 opacity-90" data-aos="reveal-right" data-aos-delay="250">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore repudiandae quasi ducimus blanditiis, non labore dolorem voluptatem fugit cupiditate nobis qui sint. Facilis harum possimus amet perferendis velit accusamus. Amet nam aliquid ipsa mollitia laboriosam consequuntur ullam ducimus tempore est? Ratione tempora laborum veritatis beatae aspernatur qui iusto numquam deserunt.</p>
        <p></p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, minus.</p>
    </div>
</div>